<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.unidom.collection.mapper.UnidomFileDataMapper">
    
    <resultMap type="UnidomFileData" id="UnidomFileDataResult">
        <result property="id"    column="id"    />
        <result property="moduleCode"    column="module_code"    />
        <result property="orgName"    column="org_name"    />
        <result property="labelKeywords"    column="label_keywords"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="esUpdateTime"    column="es_update_time"    />
        <result property="dataTitle"    column="data_title"    />
        <result property="dataDesc"    column="data_desc"    />
        <result property="filePathUrl"    column="file_path_url"    />
        <result property="fileType"    column="file_type"    />
        <result property="fileSizeBytes"    column="file_size_bytes"    />
        <result property="fileUploadTime"    column="file_upload_time"    />
        <result property="filePageNum"    column="file_page_num"    />
        <result property="ossKey"    column="oss_key"    />
    </resultMap>

    <sql id="selectUnidomFileDataVo">
        select id, module_code, org_name, label_keywords, create_time, update_time, es_update_time, data_title, data_desc, file_path_url, file_type, file_size_bytes, file_upload_time, file_page_num, oss_key from unidom_file_data
    </sql>

    <select id="selectUnidomFileDataList" parameterType="UnidomFileData" resultMap="UnidomFileDataResult">
        <include refid="selectUnidomFileDataVo"/>
        <where>  
            <if test="moduleCode != null  and moduleCode != ''"> and module_code = #{moduleCode}</if>
            <if test="orgName != null  and orgName != ''"> and org_name like concat('%', #{orgName}, '%')</if>
            <if test="labelKeywords != null  and labelKeywords != ''"> and label_keywords = #{labelKeywords}</if>
            <if test="esUpdateTime != null "> and es_update_time = #{esUpdateTime}</if>
            <if test="dataTitle != null  and dataTitle != ''"> and data_title = #{dataTitle}</if>
            <if test="dataDesc != null  and dataDesc != ''"> and data_desc = #{dataDesc}</if>
            <if test="filePathUrl != null  and filePathUrl != ''"> and file_path_url = #{filePathUrl}</if>
            <if test="fileType != null  and fileType != ''"> and file_type = #{fileType}</if>
            <if test="fileSizeBytes != null "> and file_size_bytes = #{fileSizeBytes}</if>
            <if test="fileUploadTime != null "> and file_upload_time = #{fileUploadTime}</if>
            <if test="filePageNum != null "> and file_page_num = #{filePageNum}</if>
            <if test="ossKey != null  and ossKey != ''"> and oss_key = #{ossKey}</if>
        </where>
    </select>
    
    <select id="selectUnidomFileDataById" parameterType="String" resultMap="UnidomFileDataResult">
        <include refid="selectUnidomFileDataVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUnidomFileData" parameterType="UnidomFileData">
        insert into unidom_file_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="moduleCode != null and moduleCode != ''">module_code,</if>
            <if test="orgName != null">org_name,</if>
            <if test="labelKeywords != null">label_keywords,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="esUpdateTime != null">es_update_time,</if>
            <if test="dataTitle != null">data_title,</if>
            <if test="dataDesc != null">data_desc,</if>
            <if test="filePathUrl != null">file_path_url,</if>
            <if test="fileType != null">file_type,</if>
            <if test="fileSizeBytes != null">file_size_bytes,</if>
            <if test="fileUploadTime != null">file_upload_time,</if>
            <if test="filePageNum != null">file_page_num,</if>
            <if test="ossKey != null and ossKey != ''">oss_key,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="moduleCode != null and moduleCode != ''">#{moduleCode},</if>
            <if test="orgName != null">#{orgName},</if>
            <if test="labelKeywords != null">#{labelKeywords},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="esUpdateTime != null">#{esUpdateTime},</if>
            <if test="dataTitle != null">#{dataTitle},</if>
            <if test="dataDesc != null">#{dataDesc},</if>
            <if test="filePathUrl != null">#{filePathUrl},</if>
            <if test="fileType != null">#{fileType},</if>
            <if test="fileSizeBytes != null">#{fileSizeBytes},</if>
            <if test="fileUploadTime != null">#{fileUploadTime},</if>
            <if test="filePageNum != null">#{filePageNum},</if>
            <if test="ossKey != null and ossKey != ''">#{ossKey},</if>
         </trim>
    </insert>

    <update id="updateUnidomFileData" parameterType="UnidomFileData">
        update unidom_file_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="moduleCode != null and moduleCode != ''">module_code = #{moduleCode},</if>
            <if test="orgName != null">org_name = #{orgName},</if>
            <if test="labelKeywords != null">label_keywords = #{labelKeywords},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="esUpdateTime != null">es_update_time = #{esUpdateTime},</if>
            <if test="dataTitle != null">data_title = #{dataTitle},</if>
            <if test="dataDesc != null">data_desc = #{dataDesc},</if>
            <if test="filePathUrl != null">file_path_url = #{filePathUrl},</if>
            <if test="fileType != null">file_type = #{fileType},</if>
            <if test="fileSizeBytes != null">file_size_bytes = #{fileSizeBytes},</if>
            <if test="fileUploadTime != null">file_upload_time = #{fileUploadTime},</if>
            <if test="filePageNum != null">file_page_num = #{filePageNum},</if>
            <if test="ossKey != null and ossKey != ''">oss_key = #{ossKey},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUnidomFileDataById" parameterType="String">
        delete from unidom_file_data where id = #{id}
    </delete>

    <delete id="deleteUnidomFileDataByIds" parameterType="String">
        delete from unidom_file_data where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>