<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.unidom.indices.mapper.TUdsModuleFieldMapper">

    <resultMap type="TUdsModuleField" id="TUdsModuleFieldResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="moduleId"    column="module_id"    />
        <result property="fieldType"    column="field_type"    />
        <result property="fieldName"    column="field_name"    />
        <result property="fulltextFlag"    column="fulltext_flag"    />
        <result property="searchType"    column="search_type"    />
        <result property="fieldDesc"    column="field_desc"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="fieldBoost"    column="field_boost"    />
    </resultMap>

    <sql id="selectTUdsModuleFieldVo">
        select id, user_id, module_id, field_type, field_name, fulltext_flag, search_type, field_desc, create_time, update_time, remark, create_by, update_by, is_delete, field_boost from t_uds_module_field
    </sql>

    <select id="selectTUdsModuleFieldList" parameterType="TUdsModuleField" resultMap="TUdsModuleFieldResult">
        <include refid="selectTUdsModuleFieldVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="moduleId != null "> and module_id = #{moduleId}</if>
            <if test="fieldType != null  and fieldType != ''"> and field_type = #{fieldType}</if>
            <if test="fieldName != null  and fieldName != ''"> and field_name like concat('%', #{fieldName}, '%')</if>
            <if test="fulltextFlag != null "> and fulltext_flag = #{fulltextFlag}</if>
            <if test="searchType != null  and searchType != ''"> and search_type = #{searchType}</if>
            <if test="fieldDesc != null  and fieldDesc != ''"> and field_desc like concat('%', #{fieldDesc}, '%')</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
            <if test="fieldBoost != null "> and field_boost = #{fieldBoost}</if>
        </where>
    </select>

    <select id="selectTUdsModuleFieldById" parameterType="Long" resultMap="TUdsModuleFieldResult">
        <include refid="selectTUdsModuleFieldVo"/>
        where id = #{id}
    </select>

    <insert id="insertTUdsModuleField" parameterType="TUdsModuleField" useGeneratedKeys="true" keyProperty="id">
        insert into t_uds_module_field
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="moduleId != null">module_id,</if>
            <if test="fieldType != null and fieldType != ''">field_type,</if>
            <if test="fieldName != null and fieldName != ''">field_name,</if>
            <if test="fulltextFlag != null">fulltext_flag,</if>
            <if test="searchType != null and searchType != ''">search_type,</if>
            <if test="fieldDesc != null and fieldDesc != ''">field_desc,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="fieldBoost != null">field_boost,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="moduleId != null">#{moduleId},</if>
            <if test="fieldType != null and fieldType != ''">#{fieldType},</if>
            <if test="fieldName != null and fieldName != ''">#{fieldName},</if>
            <if test="fulltextFlag != null">#{fulltextFlag},</if>
            <if test="searchType != null and searchType != ''">#{searchType},</if>
            <if test="fieldDesc != null and fieldDesc != ''">#{fieldDesc},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="fieldBoost != null">#{fieldBoost},</if>
        </trim>
    </insert>

    <update id="updateTUdsModuleField" parameterType="TUdsModuleField">
        update t_uds_module_field
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="moduleId != null">module_id = #{moduleId},</if>
            <if test="fieldType != null and fieldType != ''">field_type = #{fieldType},</if>
            <if test="fieldName != null and fieldName != ''">field_name = #{fieldName},</if>
            <if test="fulltextFlag != null">fulltext_flag = #{fulltextFlag},</if>
            <if test="searchType != null and searchType != ''">search_type = #{searchType},</if>
            <if test="fieldDesc != null and fieldDesc != ''">field_desc = #{fieldDesc},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="fieldBoost != null">field_boost = #{fieldBoost},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTUdsModuleFieldById" parameterType="Long">
        delete from t_uds_module_field where id = #{id}
    </delete>

    <delete id="deleteTUdsModuleFieldByIds" parameterType="String">
        delete from t_uds_module_field where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>